[submodule "agents/terminus2-v1.0.0"]
	path = agents/terminus2-v1.0.0
	url = https://github.com/vals-ai/terminus2-v1.0.0.git
[submodule "agents/mini_sweagent-v1.0.0"]
	path = agents/mini_sweagent-v1.0.0
	url = https://github.com/vals-ai/mini_sweagent-v1.0.0.git
[submodule "agents/fabv2_agent-v1.0.0"]
	path = agents/fabv2_agent-v1.0.0
	url = https://github.com/vals-ai/fabv2_agent-v1.0.0.git
